#popupBackground {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.6);
}

.note {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 10px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    margin-right: 80%;
}

#noteCard {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 25%;
    bottom: 50%;
    z-index: 2;
}

.noteCardContent {
    padding: 32px;
    border-style: solid;
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
    background-color: white;
}

#closeNoteCard {
    position: absolute;
    top: 5%;
    right: 0px;
}

#noteCardEditor {
    width: 800px;
    overflow: hidden;
    border-style: none;
    resize: none;
}

#noteCardEditor:focus {
    outline: none;
}